* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

body {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 10vh 75vh 5vh;
    gap: 5px;
}

header {
    grid-column: 1 / span 2;
    background-color:palegreen;
}
aside {
    background-color: sandybrown;
}
main {
    background-color: lightcoral;
}
footer {
    grid-column: 1 / span 2;
    background-color: paleturquoise;
}